.mainWrapper {
    /* @apply  text-center pb-20 -mt-16; */
    @apply  text-center pb-20 -mt-16 -z-10;
    @apply md:-mt-44;
}

.skillsButtonFilters {
    @apply fixed top-0 flex flex-row px-20 py-4 bg-neutral-white whitespace-nowrap w-screen overflow-x-auto z-10;
    @apply md:relative md:py-7 md:px-10 md:bg-transparent;
}

.skillsButton {
    @apply relative z-10 my-1 mr-1.5 flex flex-row justify-center items-center px-4 py-1.5 rounded-3xl shadow-md drop-shadow-xl;
}

.skillsButtonText {
    @apply font-source-sans-pro font-bold;
}

.skillsButtonIcon {
    @apply ml-2 text-xl;
}

.skillsCards {
    @apply px-10 py-8 grid;
    @apply sm:grid-cols-2 sm:gap-7 sm:justify-center;
    @apply md:grid-cols-3 md:gap-5;
    @apply lg:grid-cols-4 lg:gap-4;
}
