/* Hero Button styles */

.heroButton {
    @apply outline-none flex items-center px-4 py-1 rounded drop-shadow-2xl;
}

.heroButtonText {
    @apply text-sm font-medium px-2;
}

.heroButtonIcon {
    @apply h-3 w-3;
}


/* Stats button */

.statsButton {
    @apply  rounded-md shadow-md drop-shadow-xl px-6 py-3 m-2;
}


.eventButton {
    @apply flex flex-row bg-gradient-to-tr items-center justify-center w-full mt-5 rounded py-2;
}