.mainWrapper {
    @apply  text-center pb-20 -mt-16;
    @apply md:-mt-44;
}

.eventsTitle {
    @apply py-5 text-5xl font-medium bg-clip-text bg-gradient-to-r;
}

.eventsCards {
    @apply px-10 py-8 grid;
    @apply sm:grid-cols-2 sm:gap-7;
    @apply md:grid-cols-3 md:gap-5;
    @apply lg:grid-cols-4 lg:gap-4;
}