/* Skills */
.SkillBox{
    @apply px-4 py-2 border-2 rounded-3xl mr-2 mt-2 shadow-xl;
}

.SkillText{
    @apply text-base font-extrabold text-center font-quicksand;
}
.SkillsArea{
    @apply flex flex-row flex-wrap w-80 px-4 py-6;
}
.SkillsNumber{
    @apply text-base font-bold text-center px-4 py-2 ;
}