/* Article Card */

.articleWrapper {
    @apply shadow-lg rounded-md w-76 p-3 m-2 mb-3 border-2 ease-in-out duration-300 hover:shadow-2xl hover:shadow-secondary-pink-light;
}

.articleHeader {
    @apply flex flex-row justify-between items-center;
}

.articleHeaderImage {
    @apply h-11 w-11 rounded-full shadow-md bg-cover bg-center;
}

.articleHeaderNameWrapper {
    @apply mr-auto ml-8 text-left;
}

.articleHeaderNameTitle {
    @apply text-sm font-semibold;
}

.articleHeaderNameSubTitle {
    @apply text-xs;
}

.articleHeaderIcon {
    @apply h-6 w-6;
}

.articleBody {
    @apply text-left py-5;
}

.articleBodyTitle {
    @apply text-2xl font-medium;
}

.articleBodySubTitle {
    @apply text-sm;
}

.articleBodyPara {
    @apply text-sm px-2 pt-2;
}

.articleCTA {
    @apply flex flex-row justify-between items-center mx-2 pb-3 mb-2 border-b-2;
}

.articleCTAButton {
    @apply outline-none;
}

.articleFooter {
    @apply flex flex-row py-1;
}

.articleFooterImage {
    @apply h-7 w-7 rounded-full shadow-md bg-cover bg-center;
}

.articleFooterInput {
    @apply outline-none ml-4 text-xs;
}

/* Expert Card */

.expertWrapper {
    @apply shadow-lg rounded-md w-76 p-3 m-2 mb-3 border-2 ease-in-out duration-300 hover:shadow-2xl hover:shadow-secondary-pink-light;
}

.expertTitle {
    @apply text-2xl font-medium py-2;
}

.expertBody {
    @apply text-base;
}

.expertBodyCategoryWrapper {
    @apply flex flex-row flex-wrap justify-end py-4;
}

.expertBodyCategoryText {
    @apply rounded m-1 p-1.5 px-2 text-sm;
}

.expertBodyWrapper {
    @apply text-base;
}

.expertBodyImage {
    @apply h-28 w-28 rounded-full shadow-md mx-auto bg-cover bg-center;
}

.expertBodyName {
    @apply text-sm py-2;
}

.expertFooter {
    @apply flex flex-row justify-between items-center py-2;
}

.expertFooterName {
    @apply text-sm mr-auto ml-5 font-medium;
}

.expertFooterCTAButton {
    @apply flex flex-row items-center ml-6;
}

.expertFooterCTAButtonIcon {
    @apply text-xl font-bold;
}

.expertFooterCTAButtonText {
    @apply text-xs font-medium ml-1;
}

/* Audio Card */

.audioWrapper {
    @apply shadow-lg rounded-md w-76 p-3 m-2 mb-3 border-2 ease-in-out duration-300 hover:shadow-2xl hover:shadow-secondary-pink-light;
}

.audioBody {
    @apply py-4;
}

.audioBodyIconWrapper {
    @apply h-16 w-16 rounded-full shadow-md mx-auto my-2 flex justify-center items-center;
}

.audioBodyIcon {
    @apply text-2xl;
}

.audioBodyTitle {
    @apply font-medium text-2xl mb-1;
}

.audioBodySubTitle {
    @apply text-lg;
}

/* Event Card */

.eventWrapper {
    @apply shadow-lg rounded-md w-76 py-3 m-2 mb-3 border-2 ease-in-out duration-300 hover:shadow-2xl hover:shadow-secondary-pink-light;
}

.eventBody {
    @apply relative my-4;
}

.eventBodyImage {
    @apply h-64 w-full bg-cover bg-center;
}

.eventDate {
    @apply absolute top-4 right-4 p-2 rounded shadow-md;
}

.eventFooter {
    @apply text-left;
}

.eventName {
    @apply p-1 px-4 rounded-md inline-block text-base font-medium;
}
/* CTA card */

.CTAWrapper {
    @apply rounded-md w-76 py-3 m-2 bg-gradient-to-r shadow-lg ease-in-out duration-300 hover:shadow-2xl hover:shadow-secondary-pink-light;
}

.CTAContent {
    @apply text-center text-white px-1 py-5;
}

.CTAIcon {
    @apply w-12 h-12 mb-2;
}

.CTATitle {
    @apply text-2xl font-medium mb-2;
}

.CTASubtitle {
    @apply text-base font-semibold;
}