/* Skills */
.SkillsArea{
    @apply flex flex-row flex-wrap items-center w-full px-4 py-6 overflow-hidden;
    @apply md:flex-nowrap;
}

.SkillsNumber{
    @apply text-base font-bold text-center px-1 py-2 font-quicksand ml-auto;
}


/* Expert Card */
.ExpertWrapper{
    @apply shadow-md my-1 rounded-md relative duration-500 ease-in-out;
    @apply hover:shadow-2xl;
}
.ExpertBody{
    @apply w-full pt-11;
}
.ExpertImage{
    @apply w-40 h-40 rounded-full mx-auto border-2 border-white shadow-2xl
}
.ExpertTitle{
    @apply text-2xl font-bold mt-2 font-source-sans-pro text-center text-neutral-black;
}

.ExpertFunction{
    @apply text-base mt-2 font-normal font-quicksand text-center;
}

.ExpertAddress{
    @apply flex flex-row text-neutral-black text-base font-bold font-quicksand w-full mx-auto mt-2 justify-center;
}
.ExpertDomain{
    @apply p-1 bg-neutral-black text-neutral-white hover:opacity-70 rounded-2xl shadow-xl font-bold font-quicksand px-2 mb-1.5;
}
.ExpertSkills{
    @apply flex flex-row items-center flex-wrap;
    @apply md:flex-nowrap;
}

.ExpertSkill{
    @apply px-3 py-1 rounded-3xl border-2 font-bold font-quicksand shadow-xl mr-4 mt-2 hover:bg-gray-300;
}

.ExpertSkillNumber{
    @apply font-bold font-quicksand text-right
}


/* Event Card */

.EventWrapper {
    @apply  shadow-md my-1 rounded-md relative duration-500 ease-in-out;
    @apply hover:shadow-2xl;
}

.EventBackgroundImageWrapper {
    @apply relative;
}

.EventBackgroundGradient {
    @apply absolute top-0 w-full h-full bg-gradient-to-b from-[#FFFFFF20] via-[#FFFFFF99] to-neutral-white px-4 pt-8;
}

.EventDateArea {
    @apply mt-5 px-4 py-2 w-fit rounded-3xl;
}

.EventDate {
    @apply text-left font-bold text-2xl font-quicksand;
}

.EventTitle{
    @apply mt-2 font-bold text-2xl text-left font-source-sans-pro;
}

.EventDescription{
    @apply mt-2 text-base font-semibold text-left font-quicksand;
}

.EventLink{
    @apply mt-2 bg-gradient-to-tr text-transparent bg-clip-text text-base font-bold text-left font-quicksand underline block;
}

.eventAuthorImage {
    @apply w-14 h-14 rounded-full border-2 shadow-2xl drop-shadow-xl
}

/* Team Card */

.TeamWrapper {
    @apply shadow-md my-1 rounded-md relative duration-500 ease-in-out;
    @apply hover:shadow-2xl;
}

.TeamBody{
    @apply w-full h-72 pt-10;
}

.TeamImage{
    @apply w-40 h-40 rounded-full mx-auto border-2 border-white shadow-2xl;
}
.TeamTitle{
    @apply text-2xl font-bold mt-2 font-source-sans-pro;
}
.TeamProfilesArea{
    @apply flex flex-row w-40 mt-2 mx-auto;
}

.TeamProfiles{
    @apply w-8 h-8 rounded-full border-2 border-white shadow-xl drop-shadow-md;
}

.TeamIni {
    @apply w-40 h-40 flex justify-center text-7xl items-center rounded-full mx-auto border-2 border-white shadow-2xl;
}

.TeamProfilesIni {
    @apply w-8 h-8 flex justify-center font-bold items-center rounded-full border-2 border-white shadow-xl drop-shadow-md;
}

/* Audio Card */

.audioWrapper {
    @apply shadow-md my-1 rounded-md relative duration-500 ease-in-out;
    @apply hover:shadow-2xl;
}

.audioBackgroundWrapper {
    @apply w-full h-72 bg-opacity-5 bg-cover rounded-md;
}

.audioBackgroundGradient {
    @apply w-full h-full bg-gradient-to-b from-[#FFFFFF20] via-[#FFFFFF99] to-neutral-white px-4 pt-8;
}

.audioPlay {
    @apply border-2 w-20 h-20 rounded-full flex justify-center items-center mx-auto mb-4;
}

.audioPlayIcon {
    @apply text-4xl;
}


/* Article Card */

.articleWrapper {
    @apply shadow-md my-1 rounded-md relative duration-500 ease-in-out;
    @apply hover:shadow-2xl;
}

.articleBackgroundImageWrapper {
    @apply relative;
}


.articleBackgroundGradient {
    @apply absolute top-0 w-full h-full bg-gradient-to-b from-[#FFFFFF20] via-[#FFFFFF99] to-neutral-white px-4 pt-8;
}

.articleSpace {
    @apply mt-5 px-4 py-2;
}

.articleDate {
    @apply text-left font-bold text-2xl font-quicksand;
}


/* Project Card */

.projectWrapper {
    @apply shadow-md my-1 rounded-md relative duration-500 ease-in-out;
    @apply hover:shadow-2xl;
}

.projectBackgroundImageWrapper {
    @apply relative;
}

.projectBackgroundImage {
    @apply w-full h-72 bg-opacity-5 bg-cover object-cover object-left rounded-md;
}

.projectBackgroundGradient {
    @apply absolute top-0 w-full h-full bg-gradient-to-b from-[#FFFFFF20] via-[#FFFFFF99] to-neutral-white px-4 pt-8  flex flex-col;
}

.projectNameWrapper {
    @apply outline-none px-4 py-2 w-fit rounded-3xl mt-28 mr-auto shadow-xl drop-shadow-xl duration-500 ease-in-out;
    @apply hover:bg-opacity-70;
}

.projectName {
    @apply text-left font-bold text-base font-quicksand capitalize;
}

.skillButton {
    @apply outline-none p-1 px-4 rounded-3xl mr-2 border-2 my-1 shadow-xl drop-shadow-2xl;
}

.skillButtonText {
    @apply font-quicksand font-bold whitespace-normal overflow-hidden capitalize;
    @apply md:whitespace-nowrap;
}


/* Event Details Card */

.eventCardLoading {
    @apply flex flex-col justify-center mr-10 min-w-full h-96;
}

.eventCard {
    @apply shadow-xl drop-shadow-2xl flex flex-col rounded-md mr-10 min-w-full;
}

.eventCardImageWrapper {
    @apply relative;
}

.eventCardImage {
    @apply h-60 w-full bg-center rounded-t-md;
}

.eventCardBook {
    @apply absolute top-4 right-4 h-8 w-8 flex justify-center items-center rounded-full text-xl;
}

.eventTitle {
    @apply text-3xl bg-gradient-to-tr text-transparent bg-clip-text font-source-sans-pro font-bold;
}

.eventSkills {
    @apply flex flex-row justify-start items-center;
}

.eventSkillWrapper {
    @apply outline-none px-3.5 py-1.5 w-fit rounded-3xl mr-2 shadow-xl drop-shadow-xl duration-500 ease-in-out;
    @apply hover:bg-opacity-70;
}

.eventSkill {
    @apply text-left font-bold text-sm font-quicksand capitalize;
}

.eventLink {
    @apply underline;
}

.eventZoom {
    @apply text-2xl flex flex-row items-center my-5; 
}

.eventZoomText {
    @apply text-sm font-quicksand capitalize font-bold flex flex-row items-center justify-start; 
}

.eventPriceRange {
    @apply font-quicksand text-sm font-bold
}

.buttonText {
    @apply font-source-sans-pro font-bold text-lg mr-2;
}

.buttonIcon {
    @apply font-source-sans-pro font-bold text-xl;
}

/* Floating buttons */

.cardFloatButtonsWrapper {
    @apply absolute top-6 opacity-100 right-4 flex flex-col duration-500 ease-in-out;
    @apply md:opacity-0;
}

.cardFloatButton {
    @apply my-1.5 h-9 w-9 flex items-center justify-center rounded-full shadow-lg;
}

.cardFloatButtonIcon {
    @apply text-xl;
}

.expertProfileCardWrapper{
    @apply w-80 p-8 rounded-md bg-white shadow-lg;
    @apply hover:shadow-2xl
}

.expertProfileCardImage{
    @apply mt-10 w-56 h-56 rounded-full border-2 border-white mx-auto shadow-md
}

.expertProfileCardName{
    @apply text-center font-bold text-[40px] font-source-sans-pro bg-clip-text text-transparent bg-gradient-to-r from-secondary-pink to-secondary-yellow
}

.expertProfileCardUserName{
    @apply font-bold text-2xl font-quicksand text-neutral-black
}

.expertProfileCardDescription{
    @apply font-bold text-base font-quicksand text-neutral-black mt-4
}

.expertProfileCardAddress{
    @apply font-bold text-base font-quicksand text-neutral-black underline ml-4
}

.expertProfileCardButton{
    @apply flex  bg-gradient-to-r from-secondary-pink to-secondary-yellow px-4 py-2 rounded-md justify-center text-white font-bold font-source-sans-pro text-2xl mt-6
}

.expertProfileCardMediaGroup{
    @apply flex  justify-around mt-12

}

.expertProfileCardMedia{
    @apply h-10 w-10 border-2 border-white shadow-md rounded-full
}


.EventWrapper:hover .cardFloatButtonsWrapper,
.ExpertWrapper:hover .cardFloatButtonsWrapper,
.TeamWrapper:hover .cardFloatButtonsWrapper,
.audioWrapper:hover .cardFloatButtonsWrapper,
.projectWrapper:hover .cardFloatButtonsWrapper,
.expertProfileCardWrapper:hover .cardFloatButtonsWrapper,
.articleWrapper:hover .cardFloatButtonsWrapper {
    @apply opacity-100 duration-500 ease-in-out;
}

