/* Skills */
.SkillBox{
    @apply px-4 py-2 border-2 rounded-3xl mr-2 shadow-2xl;
}
.SkillText{
    @apply text-base font-bold text-center;
}
.SkillsArea{
    @apply flex flex-row flex-wrap w-full px-4 py-6;
}
.SkillsNumber{
    @apply text-base font-bold text-center px-1 py-2 font-quicksand ml-auto;
}


/* Expert Card */
.ExpertWrapper{
    @apply shadow-md my-1 rounded-md relative duration-500 ease-in-out;
    @apply hover:shadow-2xl;
}
.ExpertBody{
    @apply w-full h-80 pt-11;
}
.ExpertImage{
    @apply w-40 h-40 rounded-full mx-auto border-2 border-white shadow-2xl
}
.ExpertTitle{
    @apply text-2xl font-bold mt-2 font-source-sans-pro;
}

.ExpertFunction{
    @apply text-base mt-2 font-normal font-quicksand;
}


/* Event Card */

.EventWrapper {
    @apply  shadow-md my-1 rounded-md relative duration-500 ease-in-out;
    @apply hover:shadow-2xl;
}

.EventBackgroundImage {
    @apply w-full h-80 bg-opacity-5 bg-event-image bg-cover rounded-md;
}

.EventBackgroundGradient {
    @apply w-full h-full bg-gradient-to-b from-transparent to-neutral-white px-4 pt-8;
}

.EventDateArea {
    @apply mt-5 px-4 py-2 w-fit rounded-3xl;
}

.EventDate {
    @apply text-left font-bold text-2xl font-quicksand;
}

.EventTitle{
    @apply mt-2 font-bold text-2xl text-left font-source-sans-pro;
}

.EventDescription{
    @apply mt-2 text-base font-extrabold text-left font-quicksand;
}

.EventLink{
    @apply mt-2 bg-gradient-to-tr text-transparent bg-clip-text text-base font-bold text-left font-quicksand underline;
}

.eventAuthorImage {
    @apply w-14 h-14 rounded-full border-2 shadow-2xl drop-shadow-xl
}

/* Team Card */

.TeamWrapper {
    @apply shadow-md my-1 rounded-md relative duration-500 ease-in-out;
    @apply hover:shadow-2xl;
}

.TeamBody{
    @apply w-full h-80 pt-10;
}

.TeamImage{
    @apply w-40 h-40 rounded-full mx-auto border-2 border-white shadow-2xl;
}
.TeamTitle{
    @apply text-2xl font-bold mt-2 font-source-sans-pro;
}
.TeamProfilesArea{
    @apply flex flex-row w-40 mt-2 mx-auto;
}
.TeamProfiles{
    @apply w-8 h-8 rounded-full border-2 border-white shadow-xl drop-shadow-md;
}


/* Audio Card */

.audioWrapper {
    @apply shadow-md my-1 rounded-md relative duration-500 ease-in-out;
    @apply hover:shadow-2xl;
}

.audioBackgroundWrapper {
    @apply w-full h-80 bg-opacity-5 bg-cover rounded-md;
}

.audioBackgroundGradient {
    @apply w-full h-full bg-gradient-to-b from-transparent to-neutral-white px-4 pt-8;
}

.audioPlay {
    @apply border-2 w-20 h-20 rounded-full flex justify-center items-center mx-auto my-5;
}

.audioPlayIcon {
    @apply text-4xl;
}


/* Article Card */

.articleWrapper {
    @apply shadow-md my-1 rounded-md relative duration-500 ease-in-out;
    @apply hover:shadow-2xl;
}

.articleBackgroundImage {
    @apply w-full h-80 bg-opacity-5 bg-event-image bg-cover rounded-md;
}


.articleBackgroundGradient {
    @apply w-full h-full bg-gradient-to-b from-transparent to-neutral-white px-4 pt-8;
}

.articleSpace {
    @apply mt-5 px-4 py-2;
}

.articleDate {
    @apply text-left font-bold text-2xl font-quicksand;
}


/* Project Card */

.projectWrapper {
    @apply shadow-md my-1 rounded-md relative duration-500 ease-in-out;
    @apply hover:shadow-2xl;
}

.projectBackgroundImageWrapper {
    @apply relative
}

.projectBackgroundImage {
    @apply w-full h-80 bg-opacity-5 bg-cover object-cover object-left rounded-md;
}

.projectBackgroundGradient {
    @apply absolute top-0 w-full h-full bg-gradient-to-b from-transparent to-neutral-white px-4 pt-8  flex flex-col;
}

.projectNameWrapper {
    @apply outline-none px-4 py-2 w-fit rounded-3xl mt-28 mr-auto shadow-xl drop-shadow-xl duration-500 ease-in-out;
    @apply hover:bg-opacity-70;
}

.projectName {
    @apply text-left font-bold text-base font-quicksand;
}

.skillButton {
    /* @apply outline-none p-1 px-4 rounded-3xl mr-2 mb-2 border-2 shadow-xl drop-shadow-2xl; */
    @apply outline-none p-1 px-4 rounded-3xl mr-2 border-2 mt-2 shadow-xl drop-shadow-2xl;
}

.skillButtonText {
    @apply font-quicksand font-bold;
}


/* Floating buttons */

.cardFloatButtonsWrapper {
    @apply absolute top-6 opacity-0 right-4 flex flex-col duration-500 ease-in-out;
}

.cardFloatButton {
    @apply my-1.5 h-9 w-9 flex items-center justify-center rounded-full shadow-lg;
}

.cardFloatButtonIcon {
    @apply text-xl;
}

.EventWrapper:hover .cardFloatButtonsWrapper,
.ExpertWrapper:hover .cardFloatButtonsWrapper,
.TeamWrapper:hover .cardFloatButtonsWrapper,
.audioWrapper:hover .cardFloatButtonsWrapper,
.projectWrapper:hover .cardFloatButtonsWrapper,
.articleWrapper:hover .cardFloatButtonsWrapper {
    @apply opacity-100 duration-500 ease-in-out;
}

