.mainWrapper {
    @apply w-screen py-4 flex justify-center fixed top-0 z-50 duration-300 ease-in-out;
}

.subWrapper {
    @apply w-full max-w-[1440px] flex px-5 flex-row justify-between items-center mx-auto; 
    @apply md:px-12
}

.logoTitle {
    @apply hidden md:block font-extrabold font-source-sans-pro text-3xl mr-14 duration-[700ms] ease-in-out;
}

.navButton {
    @apply flex flex-row items-center w-48 duration-500 ease-in-out;
}

.navButtonMd {
    @apply hidden md:flex flex-row items-center w-48 duration-500 ease-in-out;
}

.navButtonIcon {
    @apply visible md:invisible text-lg font-bold duration-500 ease-in-out;
}

.navButtonMd:hover .navButtonIcon {
    @apply visible mr-1.5;
}

.expertCTA {
    @apply text-xl font-source-sans-pro whitespace-nowrap bg-gradient-to-tr bg-clip-text text-transparent capitalize duration-[700ms] ease-in-out;
}

.profileNavWrapper {
    @apply shadow-lg drop-shadow-xl justify-between items-center flex flex-row px-2 py-3 rounded-md ml-auto outline-none duration-300 ease-in-out;
}

.profileButton {
    @apply mx-1
}

.navProfile {
    @apply relative ml-5;
}

.navProfileMenu {
    @apply absolute shadow-lg drop-shadow-xl mt-2 p-3 rounded right-1 -mr-1 w-64 duration-500 ease-in-out;
}

.divider {
    @apply border-b w-full my-3;
}

/* Search */

.searchWrapper {
    @apply flex flex-row items-center justify-between px-3 py-2 rounded-md w-4/5 shadow-lg drop-shadow-xl max-h-14 duration-300 ease-in-out;
    @apply md:ml-auto md:w-fit;
}

.searchIcon {
    @apply text-3xl duration-300 ease-in-out;
}

.searchField {
    @apply bg-transparent text-sm p-2 mx-1 outline-none w-full;
}

.searchButton {
    @apply p-2.5 rounded-md bg-gradient-to-tr text-lg duration-300 ease-in-out;
}

/* Bottom Bar */

.bottomWrapper {
    /* @apply fixed w-screen bottom-0 flex flex-row items-center justify-around py-4 px-3 shadow-lg drop-shadow-xl; */
    @apply fixed w-screen bottom-0 flex flex-row items-center justify-around py-4 px-3 shadow-lg drop-shadow-xl z-10;
    @apply md:hidden;
}

.bottomLink {
    @apply flex flex-col justify-center items-center px-5;
}

.bottomLinkIcon {
    @apply text-2xl mb-1;
}

.bottomLinkText {
    @apply text-transparent font-source-sans-pro font-bold text-lg bg-clip-text bg-gradient-to-tr;
}

.closeButton {
    @apply absolute top-4 right-4 outline-none h-6 w-6 rounded-full bg-gradient-to-tr flex justify-center items-center animate-pulse hover:animate-none;
}