.mainWrapper {
    @apply w-screen py-4 hidden md:flex flex-row px-14 justify-between items-center fixed top-0 z-50 duration-300 ease-in-out;
}

.logoTitle {
    @apply font-extrabold font-source-sans-pro text-3xl mr-14 duration-[700ms] ease-in-out;
}

.navButton {
    @apply flex flex-row items-center w-48 duration-500 ease-in-out;
}

.navButtonIcon {
    @apply invisible text-lg font-bold duration-500 ease-in-out;
}

.navButton:hover .navButtonIcon {
    @apply visible mr-3;
}

.expertCTA {
    @apply text-xl font-source-sans-pro bg-gradient-to-tr bg-clip-text text-transparent capitalize duration-[700ms] ease-in-out;
}

.profileNavWrapper {
    @apply shadow-lg justify-between items-center flex flex-row px-2 py-3 rounded-md ml-auto outline-none duration-300 ease-in-out;
}

.profileButton {
    @apply mx-1
}

.navProfile {
    @apply relative ml-auto;
}

.navProfileMenu {
    @apply absolute shadow-lg drop-shadow-xl mt-2 p-3 rounded right-1 -mr-1 w-64 duration-500 ease-in-out;
}

.divider {
    @apply border-b w-full my-3;
}


/* Bottom Bar */

.bottomWrapper {
    /* @apply fixed w-screen bottom-0 flex flex-row items-center justify-around py-4 px-3 shadow-lg drop-shadow-xl; */
    @apply fixed w-screen bottom-0 flex flex-row items-center justify-around py-4 px-3 shadow-lg drop-shadow-xl z-10;
    @apply md:hidden;
}

.bottomLink {
    @apply flex flex-col justify-center items-center px-5;
}

.bottomLinkIcon {
    @apply text-2xl mb-1;
}

.bottomLinkText {
    @apply text-transparent font-source-sans-pro font-bold text-lg bg-clip-text bg-gradient-to-tr;
}