.mainWrapper {
    @apply relative bg-gradient-to-tr h-132 top-0 flex justify-center items-center pb-40;
}

.headerContent {
    @apply flex flex-col items-center
}

.headerContentTitle {
    @apply text-6xl font-bold font-source-sans-pro;
}

.headerContentSubTitle {
    @apply text-base font-medium my-4 mb-14 font-quicksand;
}

.headerContentSearchWrapper {}






 /* Bottom curve */

 .headerBottomCurve {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.headerBottomCurve svg {
    position: relative;
    display: block;
    width: calc(268% + 1.3px);
    height: 500px;
}

.headerBottomCurve .headerBottomCurveFill {
    fill: #FFFFFF;
}


/* Old styles */

/* .heroImage {
    @apply w-screen h-132;
}

.heroWrapper {
    @apply py-2;
}

.heroThought {
    @apply flex flex-row;
}

.heroArrow {
    @apply h-36 w-36 -ml-12;
}

.heroThoughtImageWrapper {
    @apply relative ml-6 mt-4;
}

.heroThoughtImage {
    @apply h-56 w-auto;
}

.heroThoughtText {
    @apply absolute -mt-1 top-28 ml-24 -translate-y-1/2 w-64 text-2xl;
}

.heroTitleWrapper {
    @apply w-1/2 mx-auto flex flex-col items-center;
}

.heroTitle {
    @apply text-5xl;
}

.heroSubTitle {
    @apply text-5xl font-medium my-2;
}

.heroWelcomText {
    @apply px-16 mx-3.5 text-center tracking-wide text-sm;
}

.heroButtonWrapper {
    @apply flex justify-center items-center my-10;
} */