.mainWrapper {
    @apply p-2 w-full rounded-md flex flex-row justify-center items-center shadow-2xl z-20;
    @apply md:w-3/4 md:p-3;

}

.contentWrapper {
    @apply border-2 h-[51px] w-full rounded-md flex flex-row overflow-hidden items-center px-3 duration-300 ease-in-out;
    @apply md:h-16;
}

.inputField {
    @apply px-4 py-4 w-full outline-none font-normal text-lg font-atkinson duration-300 ease-in-out;
}

.dropDownButtonWrapper {
    @apply flex flex-row justify-between px-3 items-center w-28 border-l;
}

.dropDownButton {
    @apply text-neutral-black text-xs flex flex-row items-center justify-between w-full outline-none;
}

.searchButton {
    @apply rounded-md w-16 hidden h-16 flex justify-center items-center cursor-pointer bg-gradient-to-tr ml-2 hover:from-neutral-white hover:to-neutral-white duration-500 ease-in-out;
    @apply md:block
}

.searchInputIcon {
    @apply text-3xl font-bold;
}

.searchButtonIcon {
    @apply text-3xl font-bold;
}

.searchButton:hover .searchButtonIcon {
    @apply text-primary-orange !important;
}