.projectWrapper {
    @apply flex flex-nowrap whitespace-nowrap overflow-x-auto flex-row w-screen mb-5 -mt-14 px-20;
    @apply md:mt-0 md:flex-wrap md:whitespace-normal md:w-4/5 md:px-0 md:justify-center;
}

.projectButton {
    @apply flex flex-row items-center justify-center mx-1 my-1 py-1.5 px-5 rounded-3xl shadow-xl drop-shadow-xl;
}

.projectButtonSelected {
    @apply flex flex-row items-center border-2 justify-center mx-1 my-1 py-1.5 px-5 rounded-3xl shadow-xl drop-shadow-xl;
}

.projectButtonText {
    @apply text-2xl font-quicksand font-bold;
}

.projectButtonIcon {
    @apply text-2xl ml-2 font-quicksand
}

.projectSkillsWrapper {
    @apply relative z-10 flex px-10 flex-nowrap whitespace-nowrap overflow-x-auto flex-row w-screen mb-5;
    @apply md:flex-wrap md:whitespace-normal md:w-4/5 md:px-0 md:justify-center;
}

.projectSkillButton {
    @apply flex flex-row items-center justify-center mx-1 my-1 py-1.5 px-3.5 rounded-3xl border-2 shadow-md drop-shadow-md duration-300 ease-in-out;
    @apply hover:bg-opacity-50;
}

.projectSkillButtonText {
    @apply text-base font-quicksand font-bold;
}

.projectBackWrapper {
    @apply fixed z-30 top-0 left-0 bg-neutral-white p-5 bg-opacity-90;
    @apply md:absolute md:top-20 md:left-14 md:p-0 md:bg-transparent;
}

.projectBack {
    @apply h-8 w-8 flex justify-center items-center rounded-full border-4 border-primary-orange;
    @apply md:border-neutral-white ;
}

.projectBackIcon {
    @apply font-extrabold text-xl text-primary-orange;
    @apply md:text-neutral-white;
}


.headerButton {
    @apply z-50 flex flex-row items-center p-2 rounded duration-500 ease-in-out;
    @apply md:hidden;
}

.headerButtonFixed {
    @apply fixed mt-6 top-16 z-50 shadow-xl bg-neutral-white;
}

.headerButtonText {
    @apply font-source-sans-pro font-bold text-2xl mx-3 bg-gradient-to-tr bg-clip-text text-transparent;
}

.headerButtonIcon {
    @apply text-xl mr-2;
}

