.mainWrapper {
    @apply relative bg-gradient-to-tr h-120 top-0 flex justify-center items-center;
    @apply md:h-132;

}

.enterpriseWrapper {
    @apply relative bg-gradient-to-tr h-126 top-0 flex justify-center items-center pb-20;
    @apply md:h-128 md:pb-0;

}

.mainWrapperDotted {
    @apply bg-primary-lila bg-opacity-10 h-120 w-full flex justify-center items-center pb-2;
    @apply sm:pb-10;
    @apply md:pb-40 md:h-132;
}

.enterpriseWrapperDotted {
    @apply bg-primary-lila bg-opacity-10 h-126 w-full flex justify-center items-center pb-16 pt-16;
    @apply md:pb-40 md:h-128 md:pt-0;
}

.enterpriseWrapperDotted {
    background-image: radial-gradient(#80808062 1.9px, transparent 0);
    background-size: 27px 27px;
}

.mainWrapperDotted {
    background-image: radial-gradient(#80808062 1.9px, transparent 0);
    background-size: 27px 27px;
}

.headerContent {
    @apply flex flex-col items-center;
    @apply md:mt-0;
}

.headerButton {
    @apply z-50 mt-7 -mb-24 hidden flex-row items-center p-2 rounded duration-300 ease-in-out;
    @apply md:flex;
}

.headerButtonFixed {
    @apply fixed top-16 z-50 shadow-xl bg-neutral-white;
}

.headerButtonText {
    @apply font-source-sans-pro font-bold text-2xl mx-3 bg-gradient-to-tr bg-clip-text text-transparent;
}

.headerButtonIcon {
    @apply text-xl mr-2;
}



 /* Bottom curve */

 .headerBottomCurve {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.headerBottomCurve svg {
    position: relative;
    display: block;
    width: calc(268% + 1.3px);
    height: 200px;
}

.headerBottomCurve .headerBottomCurveFill {
    fill: #FFFFFF;
}

@media (min-width: 768px) { 
    .headerBottomCurve svg {
        position: relative;
        display: block;
        width: calc(268% + 1.3px);
        height: 500px;
    }
}

.headerWrapper {
    background-image: radial-gradient(240.64% 1101.56% at -65.99% 206.66%, #FFBE0B 15.1%, rgba(255, 190, 11, 0.9) 30.96%, #FF006E 53.65%, #8338EC 82.29%, #8338EC 90.1%, #8338EC 98.96%) ;
}

.enterPrise {
    background-image:radial-gradient(230.54% 990.13% at -50.06% 199.6%, #FFBE0B 15.1%, rgba(255, 190, 11, 0.9) 30.96%, #FF006E 53.65%, #8338EC 82.29%, #8338EC 90.1%, #8338EC 98.96%);
}