name: CI

on:
  pull_request:
    types: [opened, reopened]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Build
        run: |
          npm install
          npm run build
        env:
          REACT_APP_SECRET_DIRECTUS_LINK: ${{ secrets.DIRECTUS_LINK }}
          REACT_APP_SECRET_DIRECTUS_TOKEN: ${{ secrets.DIRECTUS_TOKEN }}

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@releases/v3
        with:
          BRANCH: gh-pages
          FOLDER: build
